<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/helloTizen" version="1.0.0" width="512" height="300">
    <tizen:application id="ZMKi2ba2IX.helloTizen" package="ZMKi2ba2IX" required_version="1.0"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>helloTizen</name>
    <tizen:setting screen-orientation="portrait" contextmenu="enable"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
</widget>
