<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/helloTizen" version="1.0.0" viewmodes="maximized">
    <tizen:application id="ZMKi2ba2IX.helloTizen" package="ZMKi2ba2IX" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="icon.png"/>
    <name>helloTizen</name>
</widget>
