<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="https://github.com/01org/webapps-annex" version="1.0"  width="512" height="300">
  <icon src="icon.png"/>
  <content src="index.html"/>
  <name>helloTizen</name>
  <tizen:application id="ZMKi2ba2IX.helloTizen" package="ZMKi2ba2IX" required_version="1.0"/>
  <tizen:setting screen-orientation="portrait" contextmenu="enable"/>
</widget>
